img[src$=jpg]{
    text-align: center;
    width: 512px;
    height: 288px;
}
img[src$=gif]{
    text-align: center;
    width: 512px;
    height: 288px;
}
#han{
    text-align: center;
    font-size: x-large;
    color: #fff352;
    font-style: italic;
    border-radius: 10vh;
}
body {
    background-color: thistle;
    /* 　　color: 文字色; */
    font-family: monospace;
    }
#caution{
    text-align: center;
    color: white;
    font-size: larger;
}
#score{
    text-align: center;
    color: blanchedalmond;
    font-size: larger;
}
#bt{
    text-align: center;
}
#b1{
    color: greenyellow;
    background-color: gray;
    border-radius: 10vh;
}
#b2{
    color: hotpink;
    background-color: gray;
    border-radius: 10vh;  
}
#b3{
    color: rgb(82, 188, 230);
    background-color: gray;
    border-radius: 10vh;
}
#b4{
    color: whitesmoke;
    background-color: gray;
    border-radius: 10vh;
}
#top{
    text-align: center;
}
#title{
    text-align: center;
    color: rgb(177 245 193);
    font-size: 27px;
    font-style: italic;
}
#t2{
    text-align: center;
    color: blanchedalmond;
}
#ree{
    text-align: center;
}
#mae{
    color: #4451cb;
}